<ion-view title="About the GCE board" id="page7">
  <ion-content padding="true" class="has-header">
    <h3 id="aboutTheGCEBoard-heading7" style="color:#F0A41B;">Cameroon GCE board</h3>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/KyYFuf1xQ8yH5UfCH03v_GCEboard.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="aboutTheGCEBoard-heading32" style="color:#F0A41B;">Our Vision</h3>
    <div id="aboutTheGCEBoard-markdown23" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Our Vision is, Striving to remain an institution of reference in educational assessment practices and procedures within the sub-region and beyond.</p>
    </div>
    <div id="aboutTheGCEBoard-markdown5" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">Address: Buea</p>

      <p style="color:#FFFFFF;">Phone: 6 77 14 49 03</p>
    </div>
    <h3 id="aboutTheGCEBoard-heading23" style="color:#3DF536;">Map and Geographical location</h3>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TIOJk8feQhG6NY9hVnal_map.PNG" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="aboutTheGCEBoard-markdown24" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">The Cameroon GCE Board is located in Latitude 10.232355.6y56 NE xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
    <h3 id="aboutTheGCEBoard-heading33" style="color:#F0A41B;">History of the GCE Board</h3>
    <div id="aboutTheGCEBoard-markdown13" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</p>
    </div>
  </ion-content>
</ion-view>