<ion-view title="About Us" id="page5" style="background-color:#CCDBF5;">
  <ion-content padding="true" class="has-header">
    <h3 id="aboutUs-heading21" style="color:#FFFFFF;">About AfriExams</h3>
    <div id="aboutUs-markdown20" class="show-list-numbers-and-dots">
      <p style="color:#000000;">AfriExams is a startup company made up of dynamic young persons with aim in impacting the society with theeir revolutionary concept, in the education on Cameroon and beyond. It is based on Information and Communication Technologie, with as outcome
        a mobile app, and a web app used in facilitating examinations of scholars and students. It was founded in 2016 by
        <strong>Mr. Bonteh Engelbert</strong> and latter on cofounded by
        <strong>Mr Tchinda Moise G</strong> who put together their diverse talents and ideas to reach the world.</p>
    </div>
    <h3 id="aboutUs-heading22" style="color:#FFFFFF;">Our Team</h3>
    <div id="aboutUs-markdown21" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Our dynamic team is essentially made up of youths.</p>
    </div>
    <h4 id="aboutUs-heading24" style="color:#000000;">Mr. Bonteh Engelbert</h4>
    <ion-list id="aboutUs-list12">
      <ion-item class="item-thumbnail-left positive" id="aboutUs-list-item29" ui-sref="menu.personalProfileAndBio">
        <img src="img/XVErrqQRiGos3zQCkVcA_Untitled-2.jpg">
        <h2positive>Founder and CEO
          <p>Young Dynamic Visionary</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <h4 id="aboutUs-heading25" style="color:#000000;">Mr. Tchinda MOISE G.</h4>
    <ion-list id="aboutUs-list13">
      <ion-item class="item-thumbnail-left positive" id="aboutUs-list-item31">
        <img src="img/o5njEWmUQtiiFFRoHJvB_team-2.png">
        <h2positive>Co-Founder and CTO
          <p>Young Astute Visionary</p>
        </h2positive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>