<ion-view title="AfriExams" id="page17">
  <ion-content padding="true" style="background: url(img/VCyKnIvSpuO0ZM3pBbjQ_GOVGRID20GLASS20LIGHT20BLUE20HEX.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="afriExams-heading9" style="color:#000000;font-weight:400;">In which system of education are you?</h4>
    <div class="spacer" style="height: 50px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.homeOLevel" id="afriExams-button22" style="left:-10px;font-size:30px;" class="button button-royal button-large button-full">O / Level General</a>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div style="margin-right:-20px;">
      <button id="afriExams-button23" style="left:-10px;font-size:30px;" class="button button-royal button-large button-full">O / Level Techinical</button>
    </div>
  </ion-content>
</ion-view>