<ion-view title="AfriExams." id="page11">
  <ion-content padding="true" style="background: url(img/fyhWsncrSMu0a5y5QNdq_14648763-abstract-education-background-with-graduate-hat-and-stationery-Stock-Vector.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h4 id="afriExams2-heading16" style="color:#000000;font-weight:400;">In which system of education are you?</h4>
    <div class="spacer" style="height: 50px;"></div>
    <div style="margin-right:-20px;">
      <button id="afriExams2-button53" style="left:-10px;color:#E61806;font-size:30px;" class="button button-energized button-large button-full">A / Level General</button>
    </div>
    <div class="spacer" style="height: 60px;"></div>
    <div style="margin-right:-20px;">
      <button id="afriExams2-button54" style="left:-10px;color:#E61806;font-size:30px;" class="button button-energized button-large button-full">A / Level Techinical</button>
    </div>
  </ion-content>
</ion-view>