<ion-view title="Biology Text Books  and Pamphlets" id="page10" style="background-color:#D4F3F3;">
  <ion-content padding="true" class="has-header">
    <h3 id="biologyTextBooksAndPamphlets-heading17" style="color:#9E4A4A;">Text Books in Biology on program and Recommended Pamphlets</h3>
    <div id="biologyTextBooksAndPamphlets-markdown11" class="show-list-numbers-and-dots">
      <blockquote>
        <p style="color:#000000;">The
          <strong>recommended</strong> text book to study biology is "Mastering Biology" second edition by "T. M Jacobson 1988".</p>
      </blockquote>

      <p style="color:#000000;">It can be found in any Presbook shop at a price of "10,500 cfa frs".</p>

      <p style="color:#000000;">Another
        <strong>recommended</strong> text book to study biology is "xxxxxxxxxxxxxxxxxxxxxxxxxxxxx" second edition by "T. M Jacobson 1988".</p>

      <p style="color:#000000;">It can be found in any Presbook shop at a price of "10,500 cfa frs".</p>

      <p style="color:#000000;">
        <strong>Second hand text books can be obtained from resellers accredited to our system.</strong>
      </p>
    </div>
    <button id="biologyTextBooksAndPamphlets-button16" class="button button-positive  button-block">Press here to see some resellers</button>
    <h3 id="biologyTextBooksAndPamphlets-heading18" style="color:#000000;">Recommended Pamphlets</h3>
    <div id="biologyTextBooksAndPamphlets-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Good pamphelts to be used are "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        <strong>Contact the Author:</strong>
      </p>

      <p style="color:#000000;">Author's Name:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxContact: 6777777777777/6999999999999999 Email:xxxxxxxxxxxxxxxxxxxxxxxxx
      </p>

      <p style="color:#000000;">Another good pamphelt to be used are "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        <strong>Contact the Author:</strong>
      </p>

      <p style="color:#000000;">Author's Name:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxContact: 6777777777777/6999999999999999 Email:xxxxxxxxxxxxxxxxxxxxxxxxx
      </p>

      <p style="color:#000000;">Another good pamphelt to be used are "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
        <strong>Contact the Author:</strong>
      </p>

      <p style="color:#000000;">Author's Name:xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxContact: 6777777777777/6999999999999999 Email:xxxxxxxxxxxxxxxxxxxxxxxxx
      </p>
    </div>
  </ion-content>
</ion-view>