<ion-view title="Exam Tips" id="page15" style="background-color:#F1EBB9;">
  <ion-content padding="true" class="has-header">
    <h4 id="examTips-heading28" style="color:#C30E0E;">Preparing for exams? Give yourself the best chance with these top ten study tips.</h4>
    <div>
      <img src="img/x5bC3KzjTP6reZVw0LXv_ExamAnswerSheet2977380Small.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 20px;"></div>
    <div id="examTips-markdown26" class="show-list-numbers-and-dots">
      <ol>
        <li>
          <p>
            <strong>Give yourself enough time to study</strong>
            <br>Don't leave it until the last minute. While some students do seem to thrive on last-minute 'cramming', it's widely accepted that for most of us, this is not the best way to approach an exam. Set out a timetable for your study. Write down how
            many exams you have and the days on which you have to sit them. Then organize your study accordingly. You may want to give some exams more study time than others, so find a balance that you feel comfortable with. </p>
        </li>
        <li>
          <p>
            <strong>Organize your study space</strong>
            <br>Make sure you have enough space to spread your textbooks and notes out. Have you got enough light? Is your chair comfortable? Are your computer games out of sight? Try and get rid of all distractions, and make sure you feel as comfortable
            and able to focus as possible. For some people, this may mean almost complete silence; for others, background music helps. Some of us need everything completely tidy and organized in order to concentrate, while others thrive in a more cluttered
            environment. Think about what works for you, and take the time to get it right.</p>
        </li>
        <li>
          <p>
            <strong>Use flow charts and diagrams Visual aids can be really helpful when revising</strong>. At the start of a topic, challenge yourself to write down everything you already know about a topic - and then highlight where the gaps lie. Closer to the
            exam, condense your revision notes into one-page diagrams. Getting your ideas down in this brief format can then help you to quickly recall everything you need to know during the exam.</p>
        </li>
        <li>
          <p>
            <strong>Practice on old exams One of the most effective ways to prepare for exams is to practice taking past versions.</strong> This helps you get used to the format of the questions, and - if you time yourself - can also be good practice for making
            sure you spend the right amount of time on each section. </p>
        </li>
        <li>
          <p>
            <strong>Explain your answers to others Parents and little brothers and sisters don't have to be annoying around exam time!</strong> Use them to your advantage. Explain an answer to a question to them. That will help you to get it clear in your head,
            and also to highlight any areas where you need more work.</p>
        </li>
        <li>
          <p>
            <strong>Organize study groups with friends</strong>
            <br>Get together with friends for a study session. You may have questions that they have the answers to and vice versa. As long as you make sure you stay focused on the topic for an agreed amount of time, this can be one of the most effective
            ways to challenge yourself.</p>
        </li>
        <li>
          <p>
            <strong>Take regular breaks</strong>
            <br>While you may think it's best to study for as many hours as possible, this can actually be counterproductive. If you were training for a marathon, you wouldn't try and run 24 hours a day! Likewise studies have shown that for long-term retention
            of knowledge, taking regular breaks really helps. Everyone's different, so develop a study routine that works for you. If you study better in the morning, start early before taking a break at lunchtime. Or if you're more productive at nighttime,
            take a larger break earlier on so you're ready to settle down come evening. Try not to feel guilty about being out enjoying the sunshine instead of hunched over your textbooks. Remember Vitamin D is important for a healthy brain!</p>
        </li>
        <li>
          <p>
            <strong>Snack on 'brain food' Keep away from junk food!</strong> You may feel like you deserve a treat, or that you don't have time to cook, but what you eat can really have an impact on energy levels and focus. Keep your body and brain well-fuelled
            by choosing nutritious foods that have been proven to aid concentration and memory, such as fish, nuts, seeds, yogurt and blueberries. The same applies on exam day - eat a good meal before the test, based on foods that will provide a slow
            release of energy throughout. Sugar may seem appealing, but it won't help when your energy levels crash an hour or so later.</p>
        </li>
        <li>
          <p>
            <strong>Plan your exam day</strong>
            <br>Make sure you get everything ready well in advance of the exam - don't leave it to the day before to suddenly realize you don't know the way, or what you're supposed to bring. Check all the rules and requirements, and plan your route and journey
            time. If possible, do a test run of the trip; if not, write down clear directions. Work out how long it will take to get there - then add on some extra time. You really don't want to arrive having had to run halfway or feeling frazzled from
            losing your way. You could also make plans to travel to the exam with friends or classmates, as long as you know they're likely to be punctual!</p>
        </li>
        <li>
          <p>
            <strong>Drink plenty of water</strong>
            <br>As a final tip, remember that being well hydrated is essential for your brain to work at its best. Make sure you keep drinking plenty of water throughout your revision, and also on the exam day.</p>
          <pre>
            <code> Good luck!</code>
          </pre>
        </li>
      </ol>
    </div>
  </ion-content>
</ion-view>