<ion-view title="Home (A / Level)" hide-back-button="true" id="page18" style="background-color:defa;">
  <ion-content padding="true" class="has-header">
    <h3 id="homeALevel-heading19" style="color:#D83E3E;">Welcome to AfriExams</h3>
    <div id="homeALevel-markdown14" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Latest in Education in Cameroon</strong>
      </p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
    <h3 id="homeALevel-heading20" style="color:#A8153E;">School has resumed!!.</h3>
    <div id="homeALevel-markdown15" class="show-list-numbers-and-dots"></div>
    <div id="homeALevel-markdown16" class="show-list-numbers-and-dots">
      <p style="color:#000000;">The Prime Minister H.E Yang Philemon is encoraging parents to send their children to school.</p>
    </div>
    <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;">
      <i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;"></i>
    </div>
  </ion-content>
</ion-view>