<ion-view title="Home (O / Level)" hide-back-button="true" id="page1" style="background-color:defa;">
  <ion-content padding="true" class="has-header">
    <h3 id="homeOLevel-heading1" style="color:#FFFFFF;">Welcome to AfriExams</h3>
    <div style="margin-right:-20px;">
      <button id="homeOLevel-button37" style="left:-10px;color:#EB1F1F;font-size:20px;" class="button button-positive button-small button-full">Latest News in Education in Cameroon!!!</button>
    </div>
    <h3 id="homeOLevel-heading2" style="color:#FFFFFF;">School has resumed!!.</h3>
    <div id="homeOLevel-markdown3" class="show-list-numbers-and-dots">
      <p style="color:#F3B088;">The Prime Minister H.E Yang Philemon is encoraging parents to send their children to school.</p>
    </div>
    <div id="homeOLevel-markdown2" class="show-list-numbers-and-dots"></div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/LZvlkSyTFmsc4HHXwbG6_53238990.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <h3 id="homeOLevel-heading15" style="color:#CE2222;">Breaking News!!!</h3>
    <div id="homeOLevel-markdown22" class="show-list-numbers-and-dots">
      <p style="color:#000000;">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.....................</p>
    </div>
  </ion-content>
</ion-view>