<ion-view title="June 1995 Paper 2" id="page13" style="background-color:#81476D;">
  <ion-content padding="true" style="background: url(img/7UkH9nbKRzS8TtQtMgBi_paper20test.PNG) no-repeat center;background-size:cover;" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider3" delegate-handle="slider3" id="june1995Paper2-slider3" style="width:calc(100% + 20px);height:500px;margin-left:-10px;">
      <ion-slide-page id="june1995Paper2-slide213" style="background:url(&quot;img/Q00MxKqeRumAzfKmI5br_papertest.PNG&quot;) no-repeat center;background-size:cover;">
        <div class="spacer" style="height: 400px;"></div>
        <button id="june1995Paper2-button55" class="button button-stable  button-block">Swipe Left and Wright</button>
      </ion-slide-page>
      <ion-slide-page id="june1995Paper2-slide214" style="background:url(&quot;img/UNjAY4BQ76w07nE3sJAg_papertest2.PNG&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="june1995Paper2-slide215" style="background:url(&quot;img/dCvl6l5Rv6xewibdG6aQ_papertest3.PNG&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
      <ion-slide-page id="june1995Paper2-slide21" style="background:url(&quot;img/59eJ11SiSF6g3Gz4gU7g_papertest4.PNG&quot;) no-repeat center;background-size:cover;"></ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>