<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-positive">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#387EF5;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <div class="spacer" style="height: 20px;"></div>
      <div>
        <img src="img/kAOnrf9OTl21UprVMPgb_menupic.png" style="display: block; width: 100%; margin-left: auto; margin-right: auto;">
      </div>
      <ion-list id="menu-list1">
        <ion-item class="item-icon-left positive" id="menu-list-item1" ui-sref="menu.homeOLevel" menu-close="">
          <i class="icon ion-android-home"></i>Home</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item2" ui-sref="menu.pastQuestionsAndAnswers" menu-close="">
          <i class="icon ion-ios-paper"></i>Past Questions and Answers</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item3" ui-sref="menu.textBooksAndPamphelts" menu-close="">
          <i class="icon ion-ios-book"></i>Text Books and Pamphlets</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item4" ui-sref="menu.talkToATeacher" menu-close="">
          <i class="icon ion-ios-people"></i>Talk to a Teacher</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item5" ui-sref="menu.aboutTheGCEBoard" menu-close="">
          <i class="icon ion-android-clipboard"></i>About the GCE Board</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item6" ui-sref="menu.schoolsAndColleges" menu-close="">
          <i class="icon ion-ios-home"></i>Schools and Colleges</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item8" ui-sref="menu.examTips" menu-close="">
          <i class="icon ion-thumbsup"></i>Exam Tips</ion-item>
        <ion-item class="item-icon-left positive" id="menu-list-item9" ui-sref="menu.aboutUs" menu-close="">
          <i class="icon ion-help-circled"></i>About Us</ion-item>
      </ion-list>
      <button id="menu-button33" class="button button-assertive  button-block">&lt;&lt; Go back to previous Menu</button>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>