<ion-view title="Past Questions and Answers" id="page2" style="background-color:#30AF67;">
  <ion-content padding="true" class="has-header">
    <form id="pastQuestionsAndAnswers-form1" class="list">
      <label class="item item-input" id="pastQuestionsAndAnswers-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="Search Box">
      </label>
    </form>
    <a ui-sref="menu.pastQuestionsInAMaths" id="pastQuestionsAndAnswers-button15" class="button button-positive  button-block">ADDITIONAL MATHEMATICS</a>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button5" class="button button-positive  button-block">BIOLOGY</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button6" class="button button-positive  button-block">CHEMISTRY</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button7" class="button button-positive  button-block">ECONOMICS</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button52" class="button button-positive  button-block">ENGLISH LANGUAGE</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button8" class="button button-positive  button-block">ENGLISH LITERATURE</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button9" class="button button-positive  button-block">FRENCH</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button11" class="button button-positive  button-block">GEOGRAPHY</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button10" class="button button-positive  button-block">HISTORY</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button17" class="button button-positive  button-block">HUMAN BIOLOGY</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button13" class="button button-positive  button-block">MATHEMATICS</button>
    <div class="spacer" style="height: 10px;"></div>
    <button id="pastQuestionsAndAnswers-button14" class="button button-positive  button-block">PHYSICS</button>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>