<ion-view title="Past Questions in A Maths" id="page12">
  <ion-content padding="true" style="background: url(img/IOn1kY5LRFy1wSqn3aVd_logo.gif) no-repeat center;background-size:cover;" class="has-header">
    <h3 id="pastQuestionsInAMaths-heading5" style="color:#E41818;">June 1995 - 2016</h3>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.june1995Paper2" id="pastQuestionsInAMaths-button18" style="left:-10px;" class="button button-stable  button-full">June 1995 Paper 2</a>
    </div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.june1996Paper2" id="pastQuestionsInAMaths-button24" style="left:-10px;" class="button button-stable  button-full">June 1996 Paper 2</a>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button25" style="left:-10px;" class="button button-stable  button-full">June 1997 Paper 2</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button26" style="left:-10px;" class="button button-stable  button-full">June 1998 Paper 2</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button27" style="left:-10px;" class="button button-stable  button-full">June 1999 Paper 2</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button28" style="left:-10px;" class="button button-stable  button-full">June 2000 Paper 2</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button29" style="left:-10px;" class="button button-stable  button-full">June 2002 Paper 2</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button30" style="left:-10px;" class="button button-stable  button-full">June 2010 Paper 2</button>
    </div>
    <div style="margin-right:-20px;">
      <button id="pastQuestionsInAMaths-button31" style="left:-10px;" class="button button-stable  button-full">June 2016 Paper 2</button>
    </div>
  </ion-content>
</ion-view>