<ion-view title="Personal Profile and Bio" id="page19" style="background-color:#E09D67;">
  <ion-content padding="true" class="has-header">
    <h3 id="personalProfileAndBio-heading27" style="color:#2C4A6E;">Personal Profile and Bio of Mr. Bonteh ENGELBERT.</h3>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/TsuaPWzxQHCyDt2eTdJn_Untitled-2.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="personalProfileAndBio-markdown25" class="show-list-numbers-and-dots">
      <p style="color:#FFFCFC;">Mr Engelbert studied in sdkjdcscjknsdkacnanckjsdnacnncjksdnckjanksdnckjanjkcnajknckjan..............</p>
    </div>
  </ion-content>
</ion-view>