<ion-view title="Schools and Colleges" id="page8">
  <ion-content padding="true" class="has-header">
    <h3 id="schoolsAndColleges-heading13" style="color:#FFFFFF;">Best Schools in 2016 by order of merit</h3>
    <div id="schoolsAndColleges-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#F58050;">1 - GBHS Bonadibong</p>
    </div>
    <div style="margin-left: -10px; width: calc(100% + 20px);">
      <img src="img/pv4eNseARuOQLekE1TFL_EZC12.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="schoolsAndColleges-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">It is located in Ndop xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.................</p>
    </div>
    <div id="schoolsAndColleges-markdown27" class="show-list-numbers-and-dots">
      <p style="color:#F58050;">2 - GBHS Bomolombangmbengeng</p>
    </div>
    <div>
      <img src="img/tBPqAwSQ8ibRImutQ5Px_IMG_14122015_072131.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div id="schoolsAndColleges-markdown28" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;">It is located in Ndop xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx.................</p>
    </div>
  </ion-content>
</ion-view>