<ion-view title="Talk to a Teacher" id="page6" style="background-color:#D4F1EE;">
  <ion-content padding="true" class="has-header">
    <h3 id="talkToATeacher-heading26" style="color:#DD2525;">Experienced Teachers and Counselors</h3>
    <div id="talkToATeacher-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">You have the possibility to write to a Teacher, leave a comment, or call.</p>

      <p style="color:#000000;">
        <strong>NOTE:</strong> Please do call on
        <strong>Adequate</strong> hours and call for a
        <strong>Precise</strong> reason.</p>
    </div>
    <div style="margin-right:-20px;">
      <button id="talkToATeacher-button19" style="left:-10px;font-size:20px;" class="button button-positive  button-full">Additional Math Teachers</button>
    </div>
    <h3 id="talkToATeacher-heading10" style="color:#DD2525;">1. Mr Bonteh Engelbert</h3>
    <ion-list id="talkToATeacher-list4">
      <ion-item class="item-thumbnail-left positive" id="talkToATeacher-list-item10">
        <img src="img/9RNwWkWTHuOl0xBcM6qs_Untitled-2.jpg">
        <h2positive>Additional Maths Teacher
          <p>At GBHS Molyko</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div id="talkToATeacher-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Calling Hours: 11 AM - 5 PM</p>

      <p style="color:#000000;">Contact: 67777777 / 6777777</p>

      <p style="color:#000000;">Email: bonteh@gmail.com</p>
    </div>
    <div style="margin-right:-20px;">
      <button id="talkToATeacher-button34" style="left:-10px;font-size:20px;" class="button button-positive  button-full">Biology Teachers</button>
    </div>
    <h3 id="talkToATeacher-heading30" style="color:#DD2525;">2. Mrs Beri Lisette</h3>
    <ion-list id="talkToATeacher-list14">
      <ion-item class="item-avatar positive" id="talkToATeacher-list-item19">
        <h2positive>Biology Teacher
          <p>At CAST Bambili</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div id="talkToATeacher-markdown18" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Calling Hours: 11 AM - 5 PM</p>

      <p style="color:#000000;">Contact: 67777777 / 6777777</p>

      <p style="color:#000000;">Email: bonteh@gmail.com</p>
    </div>
    <div style="margin-right:-20px;">
      <button id="talkToATeacher-button35" style="left:-10px;font-size:20px;" class="button button-positive  button-full">Chemistry Teachers</button>
    </div>
    <h3 id="talkToATeacher-heading11" style="color:#DD2525;">3. Mr Tchinda Moise G.</h3>
    <ion-list id="talkToATeacher-list9">
      <ion-item class="item-thumbnail-left positive" id="talkToATeacher-list-item20">
        <img src="img/h5NDQtCqRj6qnFrGT3A3_team-2.png">
        <h2positive>Additional Maths Teacher
          <p>At GBHS Logpom II</p>
        </h2positive>
      </ion-item>
    </ion-list>
    <div class="spacer" style="height: 10px;"></div>
    <div id="talkToATeacher-markdown17" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Calling Hours: 11 AM - 5 PM</p>

      <p style="color:#000000;">Contact: 67777777 / 6777777</p>

      <p style="color:#000000;">Email: bonteh@gmail.com</p>
    </div>
    <div style="margin-right:-20px;">
      <button id="talkToATeacher-button36" style="left:-10px;font-size:20px;" class="button button-positive  button-full">English Language Teachers</button>
    </div>
    <h3 id="talkToATeacher-heading31" style="color:#DD2525;">4. Mr Tchinda Moise G.</h3>
    <div id="talkToATeacher-markdown19" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Calling Hours: 11 AM - 5 PM</p>

      <p style="color:#000000;">Contact: 67777777 / 6777777</p>

      <p style="color:#000000;">Email: bonteh@gmail.com</p>
    </div>
  </ion-content>
</ion-view>