<ion-view title="Text Books and Pamphelts" id="page3" style="background-color:#6D4D6D;">
  <ion-content padding="true" class="has-header">
    <div style="margin-right:-20px;">
      <a ui-sref="menu.aMathsTextBooksAndPamphlets" id="textBooksAndPamphelts-button38" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Additional Mathematics</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="menu.biologyTextBooksAndPamphlets" id="textBooksAndPamphelts-button42" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Biology</a>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button41" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Chemistry</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button49" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Economics</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button43" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in English Language</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button44" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in English Literature</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button45" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in French</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button46" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Geography</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button47" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in History</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button50" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Human Biology</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button48" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Mathematics</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
    <div style="margin-right:-20px;">
      <button id="textBooksAndPamphelts-button51" style="left:-10px;font-size:24px;" class="button button-calm button-large button-full">Text Books and Pamphlets in Physics</button>
    </div>
    <div class="spacer" style="height: 10px;"></div>
  </ion-content>
</ion-view>