<ion-view title="Welcome" id="page16">
  <ion-content padding="true" style="background: url(img/QCDNwGhfRl5bSsrAQuFa_plus-isolated-text-1129300.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="spacer" style="height: 10px;"></div>
    <h3 id="welcome-heading8" style="color:#2C3626;font-weight:400;">In which level are you ?</h3>
    <div class="spacer" style="height: 50px;"></div>
    <a ui-sref="afriExams" id="welcome-button20" style="font-size:30px;border-radius:30px 30px 30px 30px;" class="button button-positive button-large button-block">O / Level</a>
    <div class="spacer" style="height: 60px;"></div>
    <a ui-sref="afriExams2" id="welcome-button21" style="font-size:30px;border-radius:30px 30px 30px 30px;" class="button button-positive button-large button-block">A / Level</a>
    <div class="spacer" style="height: 110px;"></div>
    <a ui-sref="page9" id="welcome-button12" class="button button-assertive">Back</a>
  </ion-content>
</ion-view>